language: go
go_import_path: github.com/pkg/errors
go:
  - 1.4.3
  - 1.5.4
  - 1.6.3
  - 1.7.3
  - tip
install:
  - go get github.com/hyperledger/fabric/core/chaincode/shim
  - go get github.com/pkg/errors
script:
  - go test -v ./...